django>=1.5.5

## For testing
# Uncomment below for tox tests to run through successfully.

#coverage
#mock>=1.0.1
#nose>=1.3.0
#django-nose>=1.2


# Additional requirements go here


## Django apps for templates and views used by Dingos

django-grappelli>=2.4.7,<2.6
django-braces>=1.0.0
django-filter>=0.7

## XML libraries

#libxml2-python>=2.6.21
#ftp://xmlsoft.org/libxml2/python/libxml2-python-2.6.21.tar.gz 

lxml>=3.2.1

python-dateutil>=2.2




