{% extends "dingos/grappelli/lists/base_lists_one_column.html" %}

{% load dingos_tags %}

{% block content %}
  <div class="c-2">
    <div class="grp-module">
      <h2 class="grp-collapse-handler">{% block list_title %}Timeline for Tag "{{ tag }}"{% endblock %}</h2>
        <table>
        {% for entry in history %}
          {% with map_obj=map_objs|get_value:entry.content_type_id %}
            <tr>
              <td>{{ entry.timestamp }}</td>
              <td>{% with action=map_action|get_value:entry.action %}{{ action.1 }}{% endwith %}</td>
              <td>{{ entry.user__username }}</td>
              {% with obj=map_obj|get_value:entry.object_id %}

              {% if entry.content_type_id|content_type_match:"InfoObject" %}
                <td>{{ obj.identifier__uid }}</td>
                <td><a href="{% url "url.dingos.view.infoobject" obj.id %}">{{ obj.name }}</a></td>

              {% elif entry.content_type_id|content_type_match:"Fact" %}
                <td>{{ obj.fact_term__term }}{% if obj.fact_term__attribute %}{{ obj.fact_term__attribute }}{% endif %}</td>
                <td>{{ obj.fact_values__value }}</td>
            {% endif %}
            </tr>
          {% endwith %}
          {% endwith %}
        {% endfor %}
        </table>
    </div>
  </div>
{% endblock %}